    /*Primary */
    
    $colorVerydarkdesaturatedblue: hsl(238, 29%, 16%);
    $coloSoftred: hsl(14, 88%, 65%);
    /*Gradient */
    
    $colorSoftviolet: hsl(273, 75%, 66%);
    $colorSoftblue: hsl(240, 73%, 65%);
    /*Text */
    
    $colorVerydarkgrayishblue: hsl(237, 12%, 33%);
    $colorDarkgrayishblue: hsl(240, 6%, 50%);
    /*Dividers */
    
    $colorLightgrayishblue: hsl(240, 5%, 91%);